@model User
<h1 align="center">Welcome To The Dojo Activity Center</h1>

<p align="right"><a href="/login">Login</a></p>
<!-- asp-action needs to match the function name; not the route name -->
<form asp-action="create" asp-controller="Home" method="POST"> 

    <span asp-validation-for="FirstName"></span><br>
    <label asp-for="FirstName">First Name: </label><br>
    <input asp-for="FirstName">
    <br>

    <span asp-validation-for="LastName"></span><br>
    <label asp-for="LastName">Last Name: </label><br>
    <input asp-for="LastName">
    <br>

    <span asp-validation-for="Email"></span><br>
    <label asp-for="Email">Email: </label><br>
    <input asp-for="Email">
    <br>

    <span asp-validation-for="Password"></span><br>
    <label asp-for="Password">Password: </label><br>
    <input asp-for="Password">
    <br>

    <span asp-validation-for="Confirm"></span><br>
    <label asp-for="Confirm">Confirm Password:</label><br>
    <input asp-for="Confirm">
    <br><br>
    <input type="submit" value="Sign Up Now">
</form>